<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>welcome to online video downloader!</title>
</head>
<body style="background-color:powderblue;">

<!-- nav bar start here -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">Download Video from youtube</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item ">
<a class="nav-link" href="#">Facebook Photo/video Download <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Instagram Photo/video Download</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Whatsapp Status Download</a>
</li>

</ul>

</div>
</nav>



<!-- nav bar end here -->

<!-- container start here -->
<div class="container">
 <br><br><br>
 <center><h2>Your Video <h2></center>
 <br><br>
   <div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src={{embd}} allowfullscreen></iframe>
</div>
<br><br><br>
  <table class="table">
<thead class="thead-dark">
<tr>

<th scope="col">Select resolution</th>
<th scope="col">Download</th>
<th scope="col">Progress</th>

</tr>
</thead>

{% for i in rsl %}

<tbody>
<tr>

<td>{{i}}</td>
<!--button form for download video -->
<td> <form action="{% url 'download_complete' i %}" method="POST" class="post-form">  {% csrf_token %} <input type="submit" onclick="move()" class="btn btn-success" value="DOWNLOAD"> </form> </td>
<script>
var i = 0;
function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
        elem.innerHTML = width * 1  + '%';
      }
    }
  }
}
</script>
<td><div class="progress">
  <div class="progress-bar progress-bar-striped" id="myBar" role="progressbar" style="width: 10%" aria-valuemin="0" aria-valuemax="100">1%</div>
</div>
</div></td>
</tr>
</tbody>

{% endfor %}

</table>




<!--choose folder start -->



<!--choose folder end -->




<!--youtube video end here -->

<br>

<br><br>

<!-- File Upload -->


<!-- end file upload -->


<br><br>

<!-- table Start Here -->

<!-- for loop start here -->








<!-- table Start Here -->


</div>

<!-- container end here -->





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>